<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <script src="../javaScript/Classes/Restaurant.js"></script>
    <script src="../javaScript/Classes/Address.js"></script>
    <script src="../javaScript/Functions/buildTable.js"></script>
    <script src="../javaScript/Functions/login.js"></script>
</head>
<!--Imports navbar-->
<%- include('layouts/navbar') -%>
<body onload="dynamicNavBar(); createRestaurant()">

<h3>Dine restauranter:</h3>
<div id="adminRestaurants"></div>
<h3>Opret restaurant:</h3>
<div id="createRestaurant"></div>
<br>
</body>
<script src="../javaScript/Functions/createRestaurant.js"></script>
</html>