<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <script src="../javaScript/Functions/login.js"></script>
</head>
<!--Imports navbar-->
<%- include('layouts/navbar'); -%>
<body onload="dynamicNavBar()">

</body>
<h1>Velkommen til GAVEN TIL MAVEN!</h1>
<img alt="Fatman" src="https://i.ytimg.com/vi/vH4vZl91lTA/maxresdefault.jpg">

</html>