<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../javaScript/Classes/User.js"></script>
    <script src="../javaScript/Classes/Address.js"></script>
    <script src="../javaScript/Classes/Restaurant.js"></script>
    <script src="../javaScript/Functions/dummyObjects.js"></script>
    <script src="../javaScript/Functions/login.js"></script>
    <title>Opret bruger</title>
</head>
<body>

<h1> Opret bruger  </h1>
<!-- Login form -->
<form action="/user/create" method="post">
    <input type="text" id="firstName" name="firstName" placeholder="Firstname">
    <input type="text" id="lastName" name="lastName" placeholder="Lastname">
    <input type="text" id="username" name="username" placeholder="Username">
    <input type="password" id="password" name="password" placeholder="Password">
    <input type="text" id="email" name="email" placeholder="Email">
    <input type="submit" value="Opret">
</form>
<br>
<button><a href="/">Tilbage</a></button>
</body>
</html>