<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../javaScript/Classes/User.js"></script>
    <script src="../javaScript/Classes/Reservation.js"></script>
    <script src="../javaScript/Functions/login.js"></script>
    <script src="../javaScript/Classes/Address.js"></script>
    <script src="../javaScript/Classes/Restaurant.js"></script>
    <script src="../javaScript/Functions/buildTable.js"></script>

    <link rel="stylesheet" href="../css/navbar.css">


</head>
<!--Imports navbar-->
<%- include('layouts/navbar') -%>
<body onload="dynamicNavBar()">
<div id="reservations">
    <h1>Mine reservationer</h1>
</div>

</body>
<script src="../javaScript/Functions/reservations.js"></script>
</html>