<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <title>Reserver</title>
    <script src="../javaScript/Classes/User.js"></script>
    <script src="../javaScript/Classes/Address.js"></script>
    <script src="../javaScript/Classes/Restaurant.js"></script>
    <script src="../javaScript/Classes/Reservation.js"></script>
    <script src="../javaScript/Functions/login.js"></script>
</head>
<!--Imports navbar-->
<%- include('layouts/navbar') -%>
<body onload="dynamicNavBar()">
<h1>Restauranter</h1>
<div id="restaurants"></div>
<div id="bookingForm"></div>

</body>

<script src="../javaScript/Functions/buildTable.js"></script>
<script src="../javaScript/Functions/booking.js"></script>

<!--Script which executes buildTable function-->
<script>
    //table is appended to the document
    document.getElementById("restaurants").appendChild(buildTable(listOfRestaurants));
</script>

</html>